<nav class="navbar">
  <div class="navbar-brand">
    <h1 style="color: aliceblue; margin: 20px 0px 0px 60px">My App</h1>
  </div>
  <div class="navbar-links">
    <a routerLink="/product-details" routerLinkActive="active-link"
      >Product Details</a
    >
    <a routerLink="/compare-products" routerLinkActive="active-link"
      >Compare Products</a
    >
  </div>
  <div class="navbar-profile">
    <img
      src="https://i.pinimg.com/originals/07/66/d1/0766d183119ff92920403eb7ae566a85.png"
      alt="Profile Picture"
      class="profile-pic"
    />
    <span class="profile-name">User Name</span>
  </div>
</nav>
